@font-face {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/epilogue500.woff2') format('woff2'),
        url('./fonts/epilogue500.woff') format('woff');
}

@font-face {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/epilogue700.woff2') format('woff2'),
        url('./fonts/epilogue700.woff') format('woff');
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

img {
    display: block;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Epilogue", "Arial", sans-serif;
    font-weight: 500;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.site-header__logo {
    margin-right: 62px;
}

.site-header__wrapper {
    display: flex;
    align-items: center;
    padding: 32px;
}

.nav__list {
    display: flex;
}

.nav__item {
    position: relative;
    margin-right: 40px;
}

.nav__link {
    transition: all 0.4s ease;
}

.nav__link:hover {
    color: #151515;
}

.nav__inner-list {
    display: none;
    position: absolute;
    width: 153px;
    height: 160px;
    left: -50px;
    background: #fff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
    border-radius: 10px;
    padding: 24px 36px 24px 54px;
}

.nav__wrapper-list {
    display: none;
    position: absolute;
    width: 116px;
    height: 128px;
    left: -50px;
    background: #fff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
    border-radius: 10px;
    padding: 24px 36px 24px 24px;
}

.first-item:hover .nav__inner-list {
    display: block;
}

.second-item:hover .nav__wrapper-list {
    display: block;
}

.nav__inner-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
    color: #686868;
}

.nav__inner-link {
    line-height: 16px;
    color: #686868;
}

.nav__wrapper-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
    color: #686868;
}

.nav__wrapper-link {
    font-size: 14px;
    line-height: 16px;
    color: #686868;
}

.nav__inner-item:nth-child(1)::before {
    display: block;
    position: absolute;
    top: 22px;
    left: 25px;
    width: 14px;
    height: 16px;
    background-image: url("../images/icons/todolist.svg");
    background-repeat: no-repeat;
    content: "";
}

.nav__inner-item:nth-child(2)::before {
    display: block;
    position: absolute;
    top: 52px;
    left: 25px;
    width: 16px;
    height: 16px;
    background-image: url("../images/icons/calendar.svg");
    background-repeat: no-repeat;
    content: "";
}

.nav__inner-item:nth-child(3)::before {
    display: block;
    position: absolute;
    top: 85px;
    left: 26px;
    width: 12px;
    height: 16px;
    background-image: url("../images/icons/Bell.svg");
    background-repeat: no-repeat;
    content: "";
}

.nav__inner-item:nth-child(4)::before {
    display: block;
    position: absolute;
    top: 115px;
    left: 25px;
    width: 16px;
    height: 16px;
    background-image: url("../images/icons/clock.svg");
    background-repeat: no-repeat;
    content: "";
}

.nav__inner-item:last-child {
    margin-bottom: 0;
}

.first-item::after {
    display: block;
    position: absolute;
    top: 6px;
    right: -15px;
    width: 10px;
    height: 6px;
    background-image: url("../images/icons/indicatoricon.svg");
    background-repeat: no-repeat;
    content: "";
}

.second-item::after {
    display: block;
    position: absolute;
    top: 6px;
    right: -15px;
    width: 10px;
    height: 6px;
    background-image: url("../images/icons/indicatoricon.svg");
    background-repeat: no-repeat;
    content: "";
}

.nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #686868;
}

.site-header__right {
    margin-left: auto;
}

.site-header__right--login {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #686868;
    margin-right: 40px;
    transition: all 0.4s ease;
}

.site-header__right--login:hover {
    color: #151515;
}

.site-header__right--register {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #686868;
    padding: 13px 22px 13px 23px;
    border: 1.5px solid #686868;
    border-radius: 14px;
    transition: all 0.4s ease;
}

.site-header__right--register:hover {
    color: #151515;
    border: 1.5px solid #151515;
}

.hero {
    width: 540px;
}

.site-hero {
    padding-top: 184px;
    background-image: url("../images/hero-bg.svg");
    background-position: calc(50% + 370px) calc(50% + 40px);
    background-repeat: no-repeat;
}

.hero__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.11111px;
    color: #151515;
    margin-top: 0;
    margin-bottom: 48px;
}

.hero__wrapper {
    width: 445px;
}

.hero__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #686868;
    margin-top: 0;
    margin-bottom: 51px;
}

.hero__button {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #fafafa;
    background: #151515;
    border: 1px solid #151515;
    border-radius: 15px;
    padding: 15px 28px 13px 31px;
    margin-bottom: 116px;
    transition: all 0.4s ease;
}

.hero__button:hover {
    color: #151515;
    background-color: #fff;
    border: 1px solid #151515;
}

.hero__partner-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}